BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
SpaceAfterCStyleCast: true
